# This is a basic workflow to help you get started with Actions

name: Update Server

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
    paths:
      - 'elseworlds/**'
      - 'qol/**'


  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  zip-and-upload:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Make builds dir
      run: mkdir .builds

    - name: Zip elseworlds
      run: zip -r .builds/elseworlds.zip elseworlds/*

    - name: Zip qol subfolders
      run: |
        for subfolder in qol/*; do
            zip -r ".builds/$(basename "$subfolder").zip" "$subfolder"/*
        done

    - name: List created zip files
      run: ls .builds/ -la

    - name: Upload datapacks via FTP
      uses: Dylan700/sftp-upload-action@latest
      with:
        server: ${{ secrets.FTP_HOST }}
        username: ${{ secrets.FTP_USER }}
        password: ${{ secrets.FTP_PASSWORD }}
        port: ${{ secrets.FTP_PORT }}
        uploads: .builds/ => /world/datapacks/
        dry-run: true
