name: Validate JSOn

on:
  push:
    branches: [ "main" ]
    paths:
      - '**.json'
      - '**.yaml'

permissions:
    contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    
      uses: GrantBirki/json-yaml-validate@1da184a57665a2343e6b476629e5f1466aed10d9